body {
  ont-family: "Karma", sans-serif;
  margin: 0;
  color: #333;
  background: white;
  margin-left: 50px;
  margin-right: 50px;
}


/* Header */
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: white;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 10;
}

.topnav h1 {
  font-weight: normal;
  margin: 0;
}

.menu {
  font-size: 24px;
  cursor: pointer;
}

.mail {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

/* Hidden Checkbox for menu toggle */
#menu-toggle {
  display: none;
}


/* Dropdown Menu */
.dropdown {
  top: 58px;
  left: 0;
  width: 100%;
  display: none; 
  z-index: 2; 
  width: 40%;
   min-width: 300px;
}

.dropdown a {
  padding: 14px 20px;
  border-top: 1px solid #eee;
  text-decoration: none;
  color: #000;
  text-align: left;
}

.dropdown a:hover {
  background: #f0f0f0;
}

/* Show dropdown when checkbox checked */
#menu-toggle:checked  .menu  h1  .mail + .dropdown {
  display: flex;
}
.powered em {
   font-family: "Georgia", serif;
  border-bottom: 1px solid #353434;
}

/* Gallery */
.gallery {
  display: grid;
  border: none;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  flex-direction: row;
}

.gallery article {
  background: white;
  padding: 10px;
}

.gallery img {
  width: 100%;
}

.gallery h3 {
  margin: 10px 0 5px;
}

.gallery p {
  color: #555;
}

/* Pagination */
.pagination {
  text-align: center;
  margin: 30px 0;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  margin: 0 3px;
  transition: all 0.3s ease;
}

.pagination a.active {
  background: black;
  color: white;
}

.pagination a:hover {
  background: #ddd;
}

/* About Section */
.about {
  text-align: center;
  padding: 40px 20px;
  background: white;
  margin: 20px;
  border-radius: 6px;
  border-top: 1px solid #e0dcdc;
}

.about img {
  width: 100%;
  max-width: 600px;
  border-radius: 6px;
  margin-top: 10px;
}

/* Footer */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 10%;
  text-align: left;
  border-top: 1px solid #e0dcdc;
}

.footer-box {
  flex: 1 1 250px;
  margin: 10px;
}

.footer-box h4 {
  margin-bottom: 10px;
  font-size: 18px;

}

.footer-box p {
  font-size: 14px;
  color: #555;
}
.color {
  border-bottom: 1px solid #e0dcdc;
  margin-bottom: 10%;
}

.post {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.post img {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  margin-right: 10px;
}

/* Tags */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  flex-direction: row;
  color: white;
}

.tag {
  background:rgb(110, 109, 109);
  padding: 6px 10px;
  font-size: 13px;
}

.tag.active {
  background: black;
  color: white;
}

/* Responsive design */
@media (min-width: 600px) {
  .topnav {
    padding: 15px 40px;
  }

  .about {
    margin: 40px auto;
    width: 80%;
  }
}

@media (min-width: 900px) {
  .menu {
    display: none;
  }

  #menu-toggle {
    display: none;
  }

  .dropdown {
    display: flex ;
    position: relative;
    flex-direction: row;
    background: none;
    border: none;
    opacity: 1;
    transform: none;
    width: auto;
    gap: 20px;
  }

  .dropdown a {
    border: none;
    padding: 0;
    color: #000;
  }

  .dropdown a:hover {
    background: none;
  }

  
}